* {
    box-sizing: border-box;
}

@font-face{
    font-family: 'Cintaly';
    src:url('./fonts/Cintaly.ttf') format('truetype');

}

:root{
    --font-primary: 'Roboto', sans-serif;
    --font-secondary: serif;
    --font-logo: 'Cintaly';

    /* set base values */
    --text-base-size:1em;
    --text-scale-ratio:1.2;

    /* type scale */
    --text-xs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
    --text-sm: calc(1em / var(--text-scale-ratio));
    --text-md: calc(1em * var(--text-scale-ratio));
    --text-lg: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xxxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));

    /* line-height */
    --heading-line-height: 1.2;
    --body-line-height: 1.4;

}


        /* text size */
.text--xxxl {
    font-size: var(--text-xxxl)
}

h1, .text--xxl {
    font-size: var(--text-xxl)
}

h2, .text--xl{
    font-size: var(--text-xl)
}

h3, .text--lg{
    font-size: var(--text-lg)
}

h4, .text--md{
    font-size: var(--text-md)
}

.text--sm{
    font-size: var(--text-sm);
}

.text--xs{
    font-size: var(--text-xs);
}


body {
    margin: 0;
    padding: 0;
    text-align: center;
    min-width: 375px;
    background-color: #e5e0dc;
    font-size: var(--text-base-size);
    font-family: var(--font-primary);
    height: 100%;
}

.shop-name-on-header{
    display: none;
}

a > img{
    width: 2.5em;
    height: 2.5em;
}


.fixed-nav{
    position: fixed;
    margin-top: 0em;
    padding-top: 0.5em;
    padding-bottom: 0.3em;
}

.top-nav{
    display: flex;
    height: auto;
    justify-content: space-evenly;
    padding:0.5em;
    background-color: #e5e0dc;
    top: 0;
    width: 100%;
    z-index: 1;
    transition: all 0.5s;
    font-weight: 600;
}


a {
    text-decoration: none;
    color: black;
}

.top-nav > a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 5.2em;
    height: 5em;
    border-radius: 10px;
}

a > span{
    font-size: var(--text-md);
    margin:0.2em 0 0 0
}

.main{
    margin: 0 1em;
}

img{

    border-radius: 15px;
}

section{
    margin-bottom: 3rem;
}


.landing-page-images-grid{
    max-width: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    gap: 0.5em;
    margin:0 auto
}

.landing-page-images-grid img{
    width: 100%;
    height:auto;
 
}

.landing-page-images-grid img:nth-child(1){
    grid-column: 1/2;
    grid-row: 1/2;
    height: 100%;
    max-height: 400px;
}

.landing-page-images-grid img:nth-child(2){
    grid-column: 2/3;
    grid-row: 1/2;
    max-height: 400px;
}

.landing-page-images-grid img:nth-child(3){
    grid-column: 1 / -1;
    grid-row: 2/3;
}

.shop-name{
    font-family: var(--font-logo), sans-serif;
    font-size: var(--text-xxxl);
    margin: 0.5rem 0;
    min-width: 300px;
}

.tagline-primary{
    width: 95%;
    text-align:center;
    font-size: var(--text-md);
    margin: 1rem auto;
    line-height: 1.5;
}

.tagline-secondary{
    line-height: 1.5;
    max-width: 680px;
    margin: 0 auto 2em;
    text-align: center;
}


.button-primary{
    font-size: var(--text-md);
    display: block;
    width: 100%;
    max-width: 680px;
    background-color: #fabd59;
    font-weight: 600;
    padding: 1em;
    margin: 0 auto;
    border-radius: 20px;
    cursor: pointer;
    margin: 1em auto;
}

p > i{
    font-weight: 400;
}


.specialty-card{
    margin: 2em 0;
}

.specialty-card img{
    width: 100%;
}

.specialty-card h3{
    margin-bottom: 0.4em;
}

.specialty-card p{
    margin-top: 0.2em;
    text-align: center;
}


.popular-dish-grid {
    display: grid;
    max-width: 1200px;
    grid-template-columns: repeat(1, minmax(170px, 1fr));
    margin: 0 auto;
}

.popular-dish-card> img {
    width: 100%;
    object-fit: cover;
    max-width: 500px;
    max-height: 500px;
}

.item-detail-card-rectangle,
.item-detail-card-square{
    width: 90%;
    margin: 1em auto;
    max-width: 550px;
}

.item-detail-card-rectangle > img{
    width: 100%;
    height: 50vw;
    object-fit: cover;
}

.item-detail-card-square>img{
    width: 100%;
    height: auto;

}
.item-detail-container{
    max-width: 500px;
    margin: 0 auto;
}

.item-detail-text-container{
    margin: 0 auto;
}

.item-detail-button-container{
    display: flex;
    gap:1em;
}

.item-detail-flex-container img{
    max-width: 500px;
    width: 100%;
}

.name-price-container{
    margin: 0.5rem auto 0 auto;
    display: flex;
    justify-content: space-between;
    max-width: 500px;
}

.name-price-container h3{
    margin-top:0px;
}

.item-name{
    margin-bottom: 0.2em;
}

.item-price{
    font-weight: 600;
    margin-bottom: 0;
}

.item-ingredient{
    text-align: left;
    line-height: 1.5;
    font-weight: 500;
    margin-top: 0;
}

.item-description{
    text-align: left;
    line-height: 1.5;
}

.menu-nav{
    margin: 1em;
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    justify-items: center;
    max-width: 1000px;
    gap: 1em;
} 

.menu-nav a {
    padding: 0.5em;
    width: 100%;
    height: 3em;
    min-width: 130px;
    min-height: 80px;
    max-width: 350px;
    max-height: 120px;
    background-color: #a6a6a6;
    border-radius: 10px;
    font-size: var(--text-lg);
    letter-spacing: 1.3;  
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500; 
}

.menu-nav a:hover,
.menu-nav a:focus{
    background-color: #fabd59;
    font-weight: 700;
}

.top-nav>a:hover,
.top-nav>a:focus,
.top-nav>a:active{
    background-color: #fabd59;
}

.active-link{
    background-color: #fabd59
}

header>nav>div>.no-color{
    background-color: none !important;
}


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
    gap: 0.7em;
    font-size: var(--text-lg);
    background-color: #a6a6a6;
}

#root{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
}

footer > p{
    font-family: var(--font-logo);
}

footer>p>span{
    font-family: sans-serif;
}
footer > a > img{
    width: 1em;   
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    width: 2.5em;
    height: 2.5em;
    border: none;
    background-color: #fabd59;
    border-radius: 50%;
    cursor: pointer;
}

.scroll-to-top.show {
    display: block;
}


ul > li {
    padding: 0.5em 0 0 0;
    text-align: left;
}

.about-section p,
.about-section{
    line-height: 1.5;
    max-width: 600px;
}

.about-section{
    margin: 3em auto;
}

/* section p{
    text-align: left;
    line-height: 1.5;
    margin: 1em auto;
} */

.about-section-image-container{
    display: flex;
    justify-content: space-around;
    gap: 0.3rem;
}

.about-section-image-container > img{
    flex:1 0 50%;
    max-width: 50%;
    height: auto;
}

.about-section{
    width: 100%;
}

.about-section>img{
    object-fit: contain;
    max-width: 100%;
}


.timeline-event-container {
    margin: 1em auto;
}

.timeline-event-container > img{
    width: 100%;
    margin: 0.5em 0;
}


.timeline-section{
    font-size: var(--text-md);
}

.video{
    aspect-ratio: 16 / 9;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.main h1{
    font-size: var(--text-xl);
}

.location-info-container{
    margin: 0 10%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--text-md);
}

.access-line-container{
    display: flex;
    gap: 0.1em;
    width: 100%;
    line-height: 1.3;
    justify-content: flex-start;
    align-items: center;
    max-width: 450px;
}

.access-line-container img{
    width: 1.9em;
}

.access-line-container h4{
    margin: 1em;
}

.red{
    color: red;
}

.map-responsive{
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    margin: 0 auto;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    max-width: 1200px;
    position: absolute;
}

.notice-topping-container, section>ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
}
.notice-topping-container li{
    text-align: left;
}

.notice-image{
    width: 100%;
    max-width: 500px;
}

.centered{
    text-align: center;
}

.set-meal-card-container{
    display: grid;
    max-width: 1000px;
    grid-template-columns: repeat(1, minmax(170px, 1fr));
    margin: 0 auto;
}

.what-is-teishoku-section img{
    max-width: 700px;
    width: 100%;
}


@media(min-width:500px) {

    .specialty-card {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 1em;
        text-align: left;
        margin: 1em auto;
        line-height: 1.4;
    }

    .specialty-card img {
        height: auto;
        min-width: 120px;
    }

    .specialty-card * {
        flex: 1;
    }

    .specialty-card>div>h3 {
        margin-top: 0;
        margin-bottom: 0.4rem;
    }

    .specialty-card>div>p {
        max-width: 90%;
        min-width: 200px;
        text-align: left;
    }

    .landing-page-images-grid{
        gap: 1em;
    }

    .about-section-image-container{
       gap:1em;
       max-width: 600px;
       margin: 0 auto;
    }

    .about-article-1{
        max-width: 600px;
        margin: 0 auto;
    }

    .button-primary{
        font-size: var(--text-md);
    }

    .specialty-card>div>p {
        font-size: var(--text-md);
        max-width: 90%;
        min-width: 200px;
    }

    .tagline-secondary {
        font-size: var(--text-md);
    }


    .menu-nav a{
        font-size: 1.5em;
    }

}

@media(min-width:590px){

    .popular-dish-grid {
            grid-template-columns: repeat(2, minmax(170px, 1fr));
            gap: 1em;
    }

}

@media(min-width:650px){
    
    :root{
        --text-base-size: 1.1em;
        --text-scale-ratio: 1.2;
    }

    .set-meal-card-container {
        grid-template-columns: repeat(2, minmax(170px, 1fr));
        gap:1em ;
    }

    .item-detail-card-rectangle>img {
        height: 30vw;
        object-fit: cover;
    }

    .item-detail-card-square>img{
        object-fit: cover;
        height: 70%;
    }

    /* .item-detail-container>img{
        width: 100%;
        height: 40vw;
        object-fit: cover;

    } */

    .item-detail-container{
        min-height: 70vh;
    }
}


@media(min-width:900px){
    #root{
        font-size: 20px;
        }

    .specialty-card{
        justify-content: center;
    }
    /* .specialty-card > img{
        max-width: 350px;
    } */

    .specialty-card > div {
        max-width: 500px;
        margin: 0;
    }

    .name-price-container{
        display: flex;
        justify-content: space-between;
        font-size: var(--text-sm);
    }
    .access-info-container{
        margin: 1em auto;
    }   


    .item-detail-container{
        max-width: 1000px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }
    .item-detail-flex-container{
        display: flex;
        gap: 1em;
    }

    .item-detail-text-container{
        max-width: 500px;
    }


}

@media(min-width:1000px){

    :root{
        --text-base-size:1em;
        --text-scale-ratio:1.22;
    }

    .menu-nav{
        display: flex;
        margin: 1em auto;
        max-width: 1200px;
        justify-content: center;
    }
    .menu-nav a{
        max-width: 250px;
        padding: 2em 4em;
    }

    .specialty-card-container{
        display: flex;        
        gap: clamp(2em, 2vw + 1em, 10em);
        max-width: 2000px;
        justify-content: center;
        margin: 0 auto;
    }
    
    .specialty-card{
        flex-direction: column;
        align-items: center;
    
    }
    

    .specialty-card-text-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .popular-dish-grid {
        grid-template-columns: repeat(3, minmax(170px, 1fr));
        gap: clamp(2em, 2vw + 1em, 10em);
        max-width: 2000px;
    }

    .notice-container{
        display: flex;
        justify-content: center;
        gap: 2em;
    }

    .notice-topping-container{
        align-items: flex-start;
    }

    .main{
        min-height: 80vh;
    }

    .what-is-teishoku-section{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5em;
        max-width: 1000px;
        margin: 0 auto;
    }

    .what-is-teishoku-section ul{
        align-items: flex-start;
    }

    .what-is-teishoku-section img{
        max-width: 500px;
    }

    .shop-name-on-header{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .shop-name-in-main{
        display: none;
    }
}

@media(min-width:1500px){

    .specialty-card img {
            min-width: 420px;
        }

}