* {
    box-sizing: border-box;
}

@font-face{
    font-family: 'Cintaly';
    src:url('./fonts/Cintaly.ttf') format('truetype');

}

html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    text-align: center;
    min-width: 375px;
    background-color: #e5e0dc;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

a > img{
    width: 2.5em;
    height: 2.5em;
}


.fixed-nav{
    position: fixed;
    margin-top: 0em;
    padding-top: 0.5em;
    padding-bottom: 0.3em;
}

.top-nav{
    display: flex;
    height: auto;
    justify-content: space-evenly;
    padding:0.5em;
    background-color: #e5e0dc;
    top: 0;
    width: 100%;
    z-index: 1;
    transition: all 0.5s;
    font-weight: 600;
}


a {
    text-decoration: none;
    color: black;
}

.top-nav > a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 5.2em;
    height: 5em;
    border-radius: 10px;
}

a > span{
    font-size: 1.2rem;
    margin:0.2rem 0 0 0
}

main{
    margin: 0 1em;
}

img{
    max-width: 500px;
    border-radius: 15px;
}

section{
    margin-bottom: 3rem;
}

.landing-page-images-grid{
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    gap: 0.5rem;
}

.landing-page-images-grid img{
    max-width: 100%;
    height:auto;
}

.landing-page-images-grid img:nth-child(1){
    object-fit: cover;
    object-position: center;
    grid-column: 1/2;
    grid-row: 1/2;
    max-width: 100%;
    height: 100%;

}

.landing-page-images-grid img:nth-child(2){
    grid-column: 2/3;
    grid-row: 1/2;
}

.landing-page-images-grid img:nth-child(3){
    grid-column: 1 / -1;
    grid-row: 2/3;
}

.shop-name{
    font-family: 'Cintaly', sans-serif;
    font-size: 3.9em;
    margin: 1rem 0 0 0;
}

.tagline-primary{
    width: 95%;
    text-align:center;
    font-size: 1.2em;
    margin: 1rem auto;
    line-height: 1.5;
}

.tagline-secondary{
    line-height: 1.5;
    max-width: 400px;
    margin: 0 auto 2em;
}

.upper{
    margin: 0 auto 1em;
}

.button-primary{
    display: block;
    width: 100%;
    max-width: 500px;
    background-color: #fabd59;
    font-weight: 600;
    padding: 1em;
    margin: 0 auto;
    border-radius: 20px;
    cursor: pointer;
    margin: 1em auto;
}


.specialty-card{
    display:flex;
    align-items: flex-start;
    justify-content: center;
    gap:1rem;
    text-align: left;
    margin-bottom: 1rem;
    line-height: 1.4;
}

.specialty-card img{
    width: 40%;
    height: auto;
}

.specialty-card *{
    flex: 1;
}

.specialty-card > div > h3{
    margin-top: 0;
    margin-bottom: 0.4rem;
}

.specialty-card >div >p{
    max-width: 90%;
    min-width: 200px;
}

.popular-dish-grid {
    display: grid;
    max-width: 1000px;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0.5em
}

.popular-dish-card> img {
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.popular-dish-card > h3 {
    margin: 0.5rem auto;
}

.item-detail-container{
    width: 100%;
    margin: 1em auto;
}

.item-detail-container > img{
    width: 100%;
}

.name-price-container{
    margin: 0.5rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-name{
    font-weight: 700;
    font-size: 1.5em;
}

.item-price{
    font-weight: 600;
    font-size: 1.6em;
}

.item-ingredient{
    text-align: left;
    line-height: 1.5;
    font-weight: 500;
}

.item-description{
    text-align: left;
    line-height: 1.5;
}

.menu-nav{
    margin: 1em 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: auto auto;
    gap: 1em;
} 

.menu-nav a {
    padding: 0.5em 2rem;
    min-width: 130px;
    min-height: 60px;
    background-color: #a6a6a6;
    border-radius: 10px;
    font-size: 1.45rem;
    letter-spacing: 1.3;  
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500; 
}

.menu-nav a:hover,
.menu-nav a:focus{
    background-color: #fabd59;
    font-weight: 700;
}

.top-nav a:hover,
.top-nav a:focus,
.top-nav a:active{
    background-color: #fabd59;
}

.active-link{
    background-color: #fabd59 !important;
}


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
    gap: 0.7em;
    font-size: 1.3em;
    background-color: #a6a6a6;
}

#root{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
}

footer > p{
    font-family: Cintaly;
}

footer>p>span{
    font-family: sans-serif;
}
footer > a > img{
    width: 1em;   
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

.scroll-to-top.show {
    display: block;
}


ul > li {
    padding: 0.5em 0 0 0;
    text-align: left;
}

.about-section p,
.about-section{
    width: 95%;
    line-height: 1.5;

}

section p{
    text-align: left;
    line-height: 1.5;
    margin: 0 auto;
}

.about-section-image-container{
    display: flex;
    justify-content: space-around;
    gap: 0.3rem;
}

.about-section-image-container > img{
    flex:1 0 50%;
    max-width: 50%;
    height: auto;
}

.about-section{
    width: 100%;
}

.about-section>img{
    object-fit: contain;
    max-width: 100%;
}


.timeline-event-container{
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
}

.timeline-section span{
    font-size: 1.3em;
    font-weight: 600;
}

.access-info-container{
    width: 90%;
    margin: 1em auto;
    text-align: left;
}

.access-line-container{
    display: flex;
    gap: 1.5em;
    width: 90%;
    margin: 0 10%;
    line-height: 1.4;
    justify-content: flex-start;
    align-items: center;
}

.access-line-container img{
    width: 1.9em;
}

.access-line-container h4{
    margin: 1em;
}

.red{
    color: red;
}